.fab {
  background-color: #e60000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 32px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
