.vf-title {
  border: solid;
  /* width: 350px; */
  margin: auto;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  background: linear-gradient(#e60000, #e60000) bottom
    /* left or right or else */ no-repeat;
  background-size: 50px 3px;
  /* padding-bottom: 1rem; */
}
/* .vf-title::after{
content: "";
position: absolute;
width: 40%;
height: 10px;
background-color: #e60000;
bottom: 0px;
left: 50%;
} */
