@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: lighter;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: bolder;
}

@font-face {
  font-family: "Open_Sans";
  src: local("Open_Sans"),
    url(./assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf)
      format("truetype");
  font-style: italic;
  font-weight: bolder;
}

body {
  margin: 0;
  font-family: Open_Sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
